@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";


@theme {

  --font-main: "Zalando Sans Expanded", sans-serif;
  --font-special: "Metal Mania", system-ui;
  --font-number: "Metal Mania", system-ui;
    --font-starter: "Zalando Sans Expanded", sans-serif;
  
}


.dots-bg {
  background-image: radial-gradient(
    circle,
    rgba(6, 255, 98, 0.9) 2px,
    transparent 2px
  );

  background-size: 18px 18px;

  /* Fade effect from right → left */
  -webkit-mask-image: linear-gradient(to left, black 40%, transparent 100%);
  mask-image: linear-gradient(to left, black 40%, transparent 100%);

  opacity: 0.5;
}




.rotate-span {
  display: inline-block; /* Essential for the transform property to work correctly */
  transform: rotate(3deg); /* Rotates the element 45 degrees clockwise */
}